<div>
    <div class="example-container">
        <div id="h3-w-button">
            <h3 class="tittle-add-btn">Draft</h3>
            <button mat-icon-button (click)="goToAddProject()" class="tittle-add-btn-btn" [disabled]="isAddProjectDisabled()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <div cdkDropList #draftList="cdkDropList" [cdkDropListData]="projectsDraft"
            [cdkDropListConnectedTo]="[deliberationList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsDraft" cdkDrag>
                <p>{{item.name}}</p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h3>Deliberation</h3>
        <div cdkDropList #deliberationList="cdkDropList" [cdkDropListData]="projectsDeliberation"
            [cdkDropListConnectedTo]="[draftList, acceptedList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsDeliberation" cdkDrag>
                <p>{{item.name}}</p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h3>Accepted</h3>
        <div cdkDropList #acceptedList="cdkDropList" [cdkDropListData]="projectsAccepted"
            [cdkDropListConnectedTo]="[rejectedList, droppedList, completedList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsAccepted" cdkDrag>
                <p>{{item.name}}</p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h3>Rejected</h3>
        <div cdkDropList #rejectedList="cdkDropList" [cdkDropListData]="projectsRejected"
            [cdkDropListConnectedTo]="[]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsRejected" cdkDrag>
                <p>{{item.name}}</p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <div class="example-container">
        <h3>Dropped</h3>
        <div cdkDropList #droppedList="cdkDropList" [cdkDropListData]="projectsDropped"
            [cdkDropListConnectedTo]="[]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsDropped" cdkDrag>
                <p><s>{{item.name}}</s></p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h3>Completed</h3>
        <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="projectsCompleted"
            [cdkDropListConnectedTo]="[]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of projectsCompleted" cdkDrag>
                <p>{{item.name}}</p>
                <button class="details-btn" mat-menu-item (click)="goToProject(item.id)">
                    <mat-icon class="details-mat-icon">fullscreen</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>