<div class="form-container" *ngIf="project && item">
  <div class="title-box">
    <h1>Item Details</h1>
    <button class="details-btn" mat-menu-item (click)="toggleEditing()" matTooltip="Edit project">
      <mat-icon class="details-mat-icon">edit</mat-icon>
    </button>
  </div>
  <div class="vertical-spacer">
    <label for="projectName">Project name</label>
    <input id="projectName" class="value-cls" type="text" [value]="project.name" [disabled]="true" />
  </div>

  <form #addItemForm="ngForm" (ngSubmit)="submitItem(addItemForm.value)">
    <div class="vertical-spacer">
      <label for="name">Name</label>
      <input type="text" class="value-cls" id="name" name="name" [(ngModel)]="item.name" ngModel [disabled]="!isEditing" />
    </div>

    <div class="vertical-spacer">
      <label for="subject">Subject</label>
      <textarea type="text" class="value-cls" id="subject" name="subject" [(ngModel)]="item.subject" ngModel
        [disabled]="!isEditing"></textarea>
    </div>

    <div class="vertical-spacer">
      <div class="align-horizontally">
        <div class="align-vertically-75">
          <label for="cost">Cost</label>
          <input type="number" class="value-cls" id="cost" name="cost" [(ngModel)]="item.cost" ngModel [disabled]="!isEditing" />
        </div>
        <div class="align-vertically-20">
          <label for="currency">Currency</label>
          <select id="currency" name="currency" ngModel [disabled]="!isEditing" [(ngModel)]="selectedCurrencyId">
            <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="vertical-spacer">
      <label for="status">Status</label>
      <select id="status" name="status" ngModel [(ngModel)]="item.procurementStatusId" [disabled]="!isEditing">
        <option *ngFor="let status of statuses" [value]="status.id">{{ status.status }}</option>
      </select>
    </div>

    <div class="vertical-spacer">
      <label for="assignee">Assignee</label>
      <input id="assignee" name="assignee" class="value-cls" type="text" placeholder="Search for user"
        [formControl]="control" [matAutocomplete]="auto"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
          {{user.username}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="verical-spacer" *ngIf="project.isConfidential">
      <input type="checkbox" id="isNdaSigned" name="isNdaSigned" [(ngModel)]="item.isNdaSigned" ngModel
        [disabled]="!isEditing" />
      <label for="isNdaSigned" [ngClass]="{ 'label-disabled': !isEditing }">NDA signed</label>
    </div>

    <button type="submit" [disabled]="!isEditing">Submit</button>
  </form>
</div>