<!-- Toolbar -->
<div class="header" role="banner">
  <img
    routerLink="/"
    height="60"
    alt="Project Management Icon"
    src="assets/images/project_management.png"
    class="img-head"
  />
  <h2 style="margin-left: 15px" (click)="goToHome()">Project Management Module</h2>
  <span class="spacer"></span>
  <button *ngIf="isAuthenticated" mat-icon-button class="navbar-btn" (click)="goToHome()">
    <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
  </button>
  <button
    *ngIf="isAuthenticated"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="icon-button with a menu"
    class="navbar-btn"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToHome()" *ngIf="!isAdmin()">
      <mat-icon>insert_chart_outlined</mat-icon>
      <span>Projects overview</span>
    </button>
    <button mat-menu-item (click)="goToProjectsDetails()" *ngIf="!isAdmin()">
      <mat-icon>view_list</mat-icon>
      <span>Projects details</span>
    </button>
    <button mat-menu-item (click)="goToAddProject()" *ngIf="!isAdmin()">
      <mat-icon>add</mat-icon>
      <span>Add project</span>
    </button>
    <button mat-menu-item (click)="goToUsers()" *ngIf="isAdmin()">
      <mat-icon>view_list</mat-icon>
      <span>Users</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon style="color: red">power_settings_new</mat-icon>
      <span style="color: red; font-weight: bold">Logout</span>
    </button>
  </mat-menu>
</div>
<div class="content" role="main"></div>

<router-outlet></router-outlet>
