<div>
  <div class="dropdown-list-container">
    <div class="h3-w-button">
      <h3 class="tittle-add-btn">Draft</h3>
      <button
        mat-icon-button
        class="tittle-add-btn-btn"
        (click)="goToAddItem()"
        [matTooltip]="isAddDisabled() ? 'Set project budget to add new item' : 'Add new project item'"
      >
        <!-- <mat-icon [ngClass]="{'disabled-mat-icon': project && project.budget === 0}">add_circle_outline</mat-icon> -->
        <mat-icon [ngClass]="{ 'disabled-mat-icon': isAddDisabled() }">add_circle_outline</mat-icon>
      </button>
    </div>
    <div
      id="list-0"
      cdkDropList
      #draftList="cdkDropList"
      [cdkDropListData]="draftProjectItems"
      [cdkDropListConnectedTo]="[inProgressList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let item of draftProjectItems" cdkDrag>
        <p>{{ item.name }}</p>
        <button
          class="more-info-btn"
          mat-menu-item
          (click)="goToProjectItem(item.id)"
          matTooltip="More details about this item"
        >
          <mat-icon class="more-info-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="dropdown-list-container">
    <div class="h3-w-button">
      <h3 class="tittle-add-btn">In progress</h3>
    </div>
    <div
      id="list-1"
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressProjectItems"
      [cdkDropListConnectedTo]="[draftList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let item of inProgressProjectItems" cdkDrag>
        <p>{{ item.name }}</p>
        <button
          class="more-info-btn"
          mat-menu-item
          (click)="goToProjectItem(item.id)"
          matTooltip="More details about this item"
        >
          <mat-icon class="more-info-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="dropdown-list-container">
    <div class="h3-w-button">
      <h3 class="tittle-add-btn">Completed</h3>
    </div>
    <div
      id="list-2"
      cdkDropList
      #completedList="cdkDropList"
      [cdkDropListData]="completedProjectItems"
      [cdkDropListConnectedTo]="[draftList, inProgressList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let item of completedProjectItems" cdkDrag>
        <p>{{ item.name }}</p>
        <button
          class="more-info-btn"
          mat-menu-item
          (click)="goToProjectItem(item.id)"
          matTooltip="More details about this item"
        >
          <mat-icon class="more-info-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
