<div class="flex-row">
  <div class="form-container">
    <div class="title-box">
      <h1>Project Details</h1>
      <button class="details-btn" mat-menu-item (click)="toggleEditing()" matTooltip="Edit project">
        <mat-icon class="details-mat-icon">edit</mat-icon>
      </button>
    </div>
    <form #addProject="ngForm" (ngSubmit)="editProject(addProject.value)" *ngIf="project">
      <div class="vertical-spacer">
        <label for="name">Name</label>
        <input
          type="text"
          class="value-cls"
          id="name"
          name="name"
          [(ngModel)]="project.name"
          ngModel
          [disabled]="!isEditing"
        />
      </div>

      <div class="vertical-spacer">
        <label for="description">Project description</label>
        <textarea
          type="text"
          class="value-cls"
          id="description"
          name="description"
          [(ngModel)]="project.description"
          ngModel
          [disabled]="!isEditing"
        ></textarea>
      </div>

      <div class="vertical-spacer">
        <div class="align-horizontally">
          <div class="align-vertically-40">
            <label for="budget">Budget</label>
            <input
              type="number"
              [ngClass]="{ 'error-border': budgetFormControl.hasError('budget') }"
              id="budget"
              name="budget"
              [(ngModel)]="project.budget"
              ngModel
              [disabled]="!isEditing"
            />
          </div>
          <div class="align-vertically-20">
            <label for="currency">Currency</label>
            <select id="currency" name="currency" ngModel [disabled]="!isEditing" [(ngModel)]="project.currencyId">
              <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.name }}</option>
            </select>
          </div>
          <div class="align-vertically-40">
            <label for="budgetEur">Budget in Eur</label>
            <input
              type="text"
              class="value-cls"
              id="budgetEur"
              name="budgetEur"
              [value]="project.budget | currency: 'EUR'"
              [disabled]="true"
            />
          </div>
        </div>
      </div>

      <div class="vertical-spacer">
        <div class="align-horizontally">
          <div class="align-vertically-50">
            <label for="country">Country</label>
            <input
              type="text"
              class="value-cls"
              id="country"
              name="country"
              [(ngModel)]="project.country"
              ngModel
              [disabled]="!isEditing"
            />
          </div>
          <div class="align-vertically-50-right">
            <label for="region">Region</label>
            <select id="region" name="region" ngModel [(ngModel)]="project.regionId" [disabled]="!isEditing">
              <option *ngFor="let region of regions" [value]="region.id">
                {{ region.name }} ({{ region.abbrev }})
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="vertical-spacer">
        <div class="align-horizontally">
          <div class="align-vertically-50">
            <label for="userId">Project lead</label>
            <select
              id="userId"
              name="userId"
              ngModel
              [(ngModel)]="project.userId"
              [disabled]="!isEditing"
              [ngClass]="{ 'error-border': budgetFormControl.hasError('projectLead') }"
            >
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.username }} ({{ user.firstName }} {{ user.lastName }})
              </option>
            </select>
          </div>
          <div class="align-vertically-50-right">
            <label for="categoryId">Business category</label>
            <select
              id="categoryId"
              name="categoryId"
              ngModel
              [(ngModel)]="project.businessCategory"
              [disabled]="!isEditing"
            >
              <option *ngFor="let category of businessCategories" [value]="category">{{ category }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="vertical-spacer">
        <div class="align-horizontally">
          <div class="align-vertically-50">
            <label for="statusId">Status</label>
            <select id="statusId" name="statusId" ngModel [(ngModel)]="project.projectStatusId" [disabled]="!isEditing">
              <option *ngFor="let status of statuses" [value]="status.id">{{ status.status }}</option>
            </select>
          </div>
          <div class="align-vertically-50-right">
            <input
              type="checkbox"
              id="isConfidential"
              name="isConfidential"
              [(ngModel)]="isConfidential"
              ngModel
              [disabled]="!isEditing"
            />
            <label for="isConfidential" [ngClass]="{ 'label-disabled': !isEditing }">Is confidential</label>
          </div>
        </div>
      </div>

      <div class="vertical-spacer">
        <label for="description">NDA</label>
        <textarea
          type="text"
          class="value-cls"
          id="nda"
          name="nda"
          [(ngModel)]="nda"
          ngModel
          [disabled]="isNdaDisabled()"
        ></textarea>
      </div>
      <button type="submit" [disabled]="!isEditing">Update</button>
    </form>
  </div>
  <div class="drop-downs-container">
    <div class="title-box">
      <h1>Project Items</h1>
      <button class="details-btn" mat-menu-item (click)="toggleItemsOverview()" matTooltip="Switch view">
        <mat-icon class="details-mat-icon">swap_horiz</mat-icon>
      </button>
    </div>
    <app-project-items *ngIf="getItemsOverview()"></app-project-items>
    <app-items-details *ngIf="!getItemsOverview()"></app-items-details>
  </div>
</div>
