<div class="form-container">
  <h1>Create new project</h1>
  <form #addProjectForm="ngForm" (ngSubmit)="submitProject(addProjectForm.value)">
    <div class="vertical-spacer">
      <label for="name">Project name</label>
      <input type="text" id="name" name="name" ngModel />
    </div>

    <div class="vertical-spacer">
      <label for="description">Project description</label>
      <textarea type="text" id="description" name="description" ngModel></textarea>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <label for="cost">Budget</label>
        <input type="number" id="budget" name="budget" ngModel [(ngModel)]="budget" />
      </div>
      <div class="half-width-float-right">
        <label for="currency">Currency</label>
        <select id="currency" name="currency" ngModel [(ngModel)]="selectedCurrencyId">
          <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.name }}</option>
        </select>
      </div>
    </div>
    <div class="flex-item">
      <div class="half-width-float-left" >
        <!-- <label for="budgetEur">Budget in Eur</label> -->
        <input
          type="text"
          class="value-cls"
          id="budgetEur"
          name="budgetEur"
          [value]="getBudgetInEur() | currency: 'EUR'"
          [disabled]="true"
          style="margin-top: 0px;"
        />
      </div>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <label for="country">Country</label>
        <input type="text" class="value-cls" id="country" name="country" ngModel />
      </div>
      <div class="half-width-float-right">
        <label for="region">Region</label>
        <select id="region" name="region" ngModel>
          <option *ngFor="let region of regions" [value]="region">
            {{ region }}
          </option>
        </select>
      </div>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <label for="userId">Project lead</label>
        <select id="userId" name="userId" ngModel>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.username }} ({{ user.firstName }} {{ user.lastName }})
          </option>
        </select>
      </div>
      <div class="half-width-float-right">
        <label for="categoryId">Business category</label>
        <select id="categoryId" name="categoryId" ngModel>
          <option *ngFor="let category of businessCategories" [value]="category">{{ category }}</option>
        </select>
      </div>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <input type="checkbox" id="isConfidential" name="isConfidential" [(ngModel)]="isConfidential" ngModel />
        <label for="isConfidential">Is confidential</label>
      </div>
    </div>
    <div class="vertical-spacer">
      <label for="description">NDA</label>
      <textarea type="text" class="value-cls" id="nda" name="nda" ngModel></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
