<div class="form-container">
  <h1>Create new project</h1>
  <form #addProjectForm="ngForm" (ngSubmit)="submitProject(addProjectForm.value)">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Project name</mat-label>
      <input matInput name="name" ngModel />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Project description</mat-label>
      <textarea class="text-area-tall" matInput name="description" ngModel></textarea>
    </mat-form-field>

    <mat-form-field style="width: 78%" appearance="fill">
      <mat-label>Budget</mat-label>
      <input matInput name="budget" ngModel />
    </mat-form-field>

    <mat-form-field style="width: 20%; float: right" appearance="fill">
      <!-- <mat-label>Currency</mat-label> -->
      <mat-select name="currency" ngModel>
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{ currency.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-left" appearance="fill">
      <mat-label>Project lead</mat-label>
      <mat-select name="projectLead" ngModel>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.username }} ({{ user.firstName }} {{ user.lastName }})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-right" appearance="fill">
      <mat-label>Business category</mat-label>
      <mat-select name="category" ngModel>
        <mat-option *ngFor="let category of businessCategories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-left" appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput name="country" ngModel />
    </mat-form-field>

    <mat-form-field class="half-width-float-right" appearance="fill">
      <mat-label>Region</mat-label>
      <mat-select name="region" ngModel>
        <mat-option *ngFor="let region of regions" [value]="region">
          {{ region }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="half-width-float-left">
      <section class="checkbox-section">
        <mat-checkbox name="isConfidential" ngModel color="warn" [(ngModel)]="isConfidential"
          >Is confidential</mat-checkbox
        >
      </section>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>NDA</mat-label>
      <textarea class="text-area-tall" matInput name="nda" ngModel [disabled]="!isConfidential"></textarea>
    </mat-form-field>
    <button type="submit">Submit</button>
  </form>
</div>
