button {
    /* width: 40%; */
    background-color: #4CAF50;
    /* background-color: #372c9c; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}