<div class="form-container">
  <div class="example-box">
    <h1>Project Details</h1>
    <button class="details-btn" mat-menu-item (click)="isEditing = !isEditing">
      <mat-icon class="details-mat-icon">edit</mat-icon>
    </button>
  </div>
  <form #addProject="ngForm" (ngSubmit)="editProject(addProject.value)" *ngIf="project">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Project name</mat-label>
      <input matInput name="name" ngModel [(ngModel)]="project.name" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Project description</mat-label>
      <textarea class="text-area-tall" matInput name="description" ngModel [(ngModel)]="project.description"
        [disabled]="!isEditing" [ngClass]="{'black-bold': !isEditing}"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 78%" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Budget</mat-label>
      <!-- [value]="project.budget | currency:getCurrency()" -->
      <input matInput name="budget" ngModel [(ngModel)]="project.budget" [value]="project.budget"
        [disabled]="!isEditing" [ngClass]="{'black-bold': !isEditing}">
    </mat-form-field>

    <mat-form-field style="width: 20%; float: right" appearance="fill">
      <!-- <mat-label>Currency</mat-label> -->
      <mat-select name="currencyId" ngModel [(ngModel)]="project.currencyId" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">
          {{currency.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-left" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Country</mat-label>
      <input matInput name="country" ngModel [(ngModel)]="project.country" [disabled]="!isEditing"
        [ngClass]="{'black': !isEditing}">
    </mat-form-field>

    <mat-form-field class="half-width-float-right" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Region</mat-label>
      <mat-select name="regionId" ngModel [(ngModel)]="project.regionId" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
        <mat-option *ngFor="let region of regions" [value]="region.id">
          {{region.name}} ({{region.abbrev}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-left" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Project lead</mat-label>
      <mat-select name="userId" ngModel [(ngModel)]="project.userId" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.username}} ({{user.firstName}} {{user.lastName}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-right" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">Business category</mat-label>
      <mat-select name="categoryId" ngModel [(ngModel)]="project.businessCategoryId" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
        <mat-option *ngFor="let category of businessCategories" [value]="category.id">
          {{category.type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width-float-left" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select name="statusId" ngModel [(ngModel)]="project.projectStatusId" [disabled]="!isEditing"
        [ngClass]="{'black-bold': !isEditing}">
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{status.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="half-width-float-right">
      <section class="checkbox-section">
        <mat-checkbox name="isConfidential" ngModel color="warn" [(ngModel)]="isConfidential" [disabled]="!isEditing">
          Is confidential
        </mat-checkbox>
      </section>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label [ngClass]="{'black': !isEditing}">NDA</mat-label>
      <textarea class="text-area-tall" matInput name="nda" ngModel [(ngModel)]="nda"
        [disabled]="isNdaDisabled()"></textarea>
    </mat-form-field>
    <button type="submit" [disabled]="!isEditing">Update</button>
  </form>
</div>