th {
  padding: 15px;
}

td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.table-container {
  width: max-content;
  /* border: 1px solid black; */
  margin: auto;
}

#p-w-button p {
  display: inline-block;
}

#p-w-button button {
  float: right;
}

.filters-btn {
  float: right;
  margin-right: 5px;
  /* margin-right: auto; */
}

button {
  padding: 0px 0px;
  margin-top: 14px;
  background-color: transparent;
  color: #007904;
  cursor: pointer;
}

.find-btn {
  background-color: #4caf50;
  color: white;
  padding: 13px 20px;
  margin: 8px;
  width: auto;
}

.details-btn {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  height: 35px;
}

.delete-mat-icon {
  margin: auto;
  color: red;
}

.details-mat-icon {
  margin: auto;
}

.small-padding {
  padding: 10px;
}

.small-margin {
  margin: 10px;
}
.mat-menu-btn {
  /* margin: 10px; */
  color: black;
  font-size: 14px;
}

.mat-menu {
  padding: 10px;
}

input[type='text'] {
  width: 40%;
}

.table-border {
  box-shadow: 3px 3px 3px 3px #c9c9c9;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #c9c9c9;
}
