<div class="table-container">
  <mat-menu #menu="matMenu" xPosition="before" class="menu-width">
    <!-- <div class="small-margin"> -->
    <button mat-menu-item [matMenuTriggerFor]="myProjectsMenu" class="mat-menu-btn">My projects</button>
    <button mat-menu-item [matMenuTriggerFor]="budgetSizeMenu" class="mat-menu-btn">Budget size</button>
    <button mat-menu-item [matMenuTriggerFor]="confidentialMenu" class="mat-menu-btn">Confidential</button>
    <button mat-menu-item [matMenuTriggerFor]="projectStatusesMenu" class="mat-menu-btn">Status</button>
    <button mat-menu-item [matMenuTriggerFor]="projectLeadsMenu" class="mat-menu-btn">Project leads</button>
    <button mat-menu-item [matMenuTriggerFor]="countriesMenu" class="mat-menu-btn">Countries</button>
    <button mat-menu-item [matMenuTriggerFor]="regionsMenu" class="mat-menu-btn">Regions</button>
    <!-- </div> -->
  </mat-menu>

  <mat-menu #budgetSizeMenu xPosition="before">
    <div class="small-padding">
      <mat-checkbox (click)="applyFilters($event, 'small')">Small projects</mat-checkbox>
      <mat-checkbox (click)="applyFilters($event, 'medium')">Medium projects</mat-checkbox>
      <mat-checkbox (click)="applyFilters($event, 'large')">Large projects</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #myProjectsMenu xPosition="before">
    <div class="small-padding">
      <mat-checkbox (click)="applyFilters($event, 'myProjects')">Yes</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #confidentialMenu xPosition="before">
    <div class="small-padding">
      <mat-checkbox (click)="applyFilters($event, 'isConfidential')">Yes</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #projectStatusesMenu xPosition="before">
    <div class="small-padding" *ngFor="let status of projectsStatuses">
      <mat-checkbox (click)="applyFilters($event, 'status', status.id.toString())">{{ status.status }}</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #projectLeadsMenu xPosition="before">
    <div class="small-padding" *ngFor="let user of users">
      <mat-checkbox (click)="applyFilters($event, 'user', user.id.toString())">{{ user.username }}</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #countriesMenu xPosition="before">
    <div class="small-padding" *ngFor="let country of getCountries()">
      <mat-checkbox (click)="applyFilters($event, 'country', country)">{{ country }}</mat-checkbox>
    </div>
  </mat-menu>
  <mat-menu #regionsMenu xPosition="before">
    <div class="small-padding" *ngFor="let region of regions">
      <mat-checkbox (click)="applyFilters($event, 'region', region.id.toString())">{{ region.name }}</mat-checkbox>
    </div>
  </mat-menu>

  <div>
    <input type="text" id="find" name="find" [formControl]="findFormControl" placeholder="Find project by Id or name" />
  </div>

  <table *ngIf="projects" class="table-border">
    <tr>
      <th>
        <div id="p-w-button">
          <p>Id</p>
          <button mat-icon-button class="tittle-add-btn-btn" (click)="sortBy('id')" matTooltip="Sort by Id">
            <mat-icon *ngIf="isSortedAscendingBy('id')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('id')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Project name</p>
          <button mat-icon-button class="tittle-add-btn-btn" (click)="sortBy('name')" matTooltip="Sort by name">
            <mat-icon *ngIf="isSortedAscendingBy('name')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('name')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Budget</p>
          <button mat-icon-button class="tittle-add-btn-btn" (click)="sortBy('budget')" matTooltip="Sort by Budget">
            <mat-icon *ngIf="isSortedAscendingBy('budget')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('budget')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Budget used</p>
          <button
            mat-icon-button
            class="tittle-add-btn-btn"
            (click)="sortBy('totalCost')"
            matTooltip="Sort by Budget used"
          >
            <mat-icon *ngIf="isSortedAscendingBy('totalCost')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('totalCost')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Confidential</p>
          <button
            mat-icon-button
            class="tittle-add-btn-btn"
            (click)="sortBy('isConfidential')"
            matTooltip="Sort by confidentiality"
          >
            <mat-icon *ngIf="isSortedAscendingBy('isConfidential')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('isConfidential')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Project status</p>
          <button
            mat-icon-button
            class="tittle-add-btn-btn"
            (click)="sortBy('projectStatusId')"
            matTooltip="Sort by project status"
          >
            <mat-icon *ngIf="isSortedAscendingBy('projectStatusId')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('projectStatusId')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Business category</p>
          <button
            mat-icon-button
            class="tittle-add-btn-btn"
            (click)="sortBy('businessCategoryId')"
            matTooltip="Sort by category"
          >
            <mat-icon *ngIf="isSortedAscendingBy('businessCategoryId')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('businessCategoryId')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Project lead</p>
          <button
            mat-icon-button
            class="tittle-add-btn-btn"
            (click)="sortBy('userId')"
            matTooltip="Sort by project lead"
          >
            <mat-icon *ngIf="isSortedAscendingBy('userId')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('userId')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Country</p>
          <button mat-icon-button class="tittle-add-btn-btn" (click)="sortBy('country')" matTooltip="Sort by country">
            <mat-icon *ngIf="isSortedAscendingBy('country')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('country')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th>
        <div id="p-w-button">
          <p>Region</p>
          <button mat-icon-button class="tittle-add-btn-btn" (click)="sortBy('regionId')" matTooltip="Sort by region">
            <mat-icon *ngIf="isSortedAscendingBy('regionId')">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="!isSortedAscendingBy('regionId')">arrow_drop_down</mat-icon>
          </button>
        </div>
      </th>
      <th colspan="2">
        <button
          mat-icon-button
          class="filters-btn"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          matTooltip="Filters"
        >
          <mat-icon>filter_list</mat-icon>
        </button>
      </th>
    </tr>
    <tr *ngFor="let project of projects">
      <td>{{ project.id }}</td>
      <td style="width: 260px">{{ project.name }}</td>
      <td *ngIf="currencies">{{ project.budget | currency: getCurrency(project.currencyId) }}</td>
      <td>{{ 0 | currency: getCurrency(project.currencyId) }}</td>
      <td>{{ project.isConfidential ? 'YES' : 'NO' }}</td>
      <td>{{ getProjectStatus(project.projectStatusId) }}</td>
      <td>{{ getBusinessCategory(project.businessCategoryId) }}</td>
      <td>{{ getProjectLead(project.userId) }}</td>
      <td>{{ project.country }}</td>
      <td>{{ getRegion(project.regionId) }}</td>
      <td>
        <button
          mat-icon-button
          class="details-btn"
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </td>
      <td>
        <button
          mat-icon-button
          class="details-btn"
          (click)="deleteProject(project.id)"
          matTooltip="Delete this project"
        >
          <mat-icon class="delete-mat-icon">delete_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
