<div class="flex-row">
  <div class="dropdown-list-container">
    <div id="h3-w-button">
      <h3 class="tittle-add-btn">Draft</h3>
      <button
        mat-icon-button
        (click)="goToAddProject()"
        class="tittle-add-btn-btn"
        [disabled]="isAddProjectDisabled()"
        matTooltip="Add new project"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <div
      id="list-0"
      cdkDropList
      cdkDropListSortingDisabled
      #draftList="cdkDropList"
      [cdkDropListData]="projectsDraft"
      [cdkDropListConnectedTo]="[deliberationList, acceptedList, rejectedList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let project of projectsDraft" cdkDrag
      [cdkDragDisabled]="!project.isEditable">
        <button
          *ngIf="project.isConfidential"
          class="conf-btn"
          mat-menu-project
          matTooltip="This project is confidential"
        >
          <mat-icon class="details-mat-icon" >security</mat-icon>
        </button>
        <p>{{ project.name }}</p>
        <button
          class="details-btn"
          mat-menu-project
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="dropdown-list-container">
    <h3>Deliberation</h3>
    <div
      id="list-1"
      cdkDropList
      cdkDropListSortingDisabled
      #deliberationList="cdkDropList"
      [cdkDropListData]="projectsDeliberation"
      [cdkDropListConnectedTo]="[draftList, acceptedList, rejectedList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let project of projectsDeliberation" cdkDrag
      [cdkDragDisabled]="!project.isEditable">
        <button
          *ngIf="project.isConfidential"
          class="conf-btn"
          mat-menu-project
          matTooltip="This project is confidential"
        >
          <mat-icon class="details-mat-icon" >security</mat-icon>
        </button>
        <p>{{ project.name }}</p>
        <button
          class="details-btn"
          mat-menu-project
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="dropdown-list-container">
    <h3>Accepted</h3>
    <div
      id="list-2"
      cdkDropList
      cdkDropListSortingDisabled
      #acceptedList="cdkDropList"
      [cdkDropListData]="projectsAccepted"
      [cdkDropListConnectedTo]="[draftList, deliberationList, rejectedList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let project of projectsAccepted" cdkDrag
      [cdkDragDisabled]="!project.isEditable">
        <button
          *ngIf="project.isConfidential"
          class="conf-btn"
          mat-menu-project
          matTooltip="This project is confidential"
        >
          <mat-icon class="details-mat-icon" >security</mat-icon>
        </button>
        <p>{{ project.name }}</p>
        <button
          class="details-btn"
          mat-menu-project
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="dropdown-list-container">
    <h3>Rejected / Dropped</h3>
    <div
      id="list-3"
      cdkDropList
      cdkDropListSortingDisabled
      #rejectedList="cdkDropList"
      [cdkDropListData]="projectsRejected"
      [cdkDropListConnectedTo]="[draftList, deliberationList, acceptedList, completedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let project of projectsRejected" cdkDrag
      [cdkDragDisabled]="!project.isEditable">
        <button
          *ngIf="project.isConfidential"
          class="conf-btn"
          mat-menu-project
          matTooltip="This project is confidential"
        >
          <mat-icon class="details-mat-icon" >security</mat-icon>
        </button>
        <p class="dropped-rejected">{{ project.name }}</p>
        <button
          class="details-btn"
          mat-menu-project
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="dropdown-list-container">
    <h3>Completed</h3>
    <div
      id="list-4"
      cdkDropList
      cdkDropListSortingDisabled
      #completedList="cdkDropList"
      [cdkDropListData]="projectsCompleted"
      [cdkDropListConnectedTo]="[draftList, deliberationList, acceptedList, rejectedList]"
      class="dropdown-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="dropdown-box" *ngFor="let project of projectsCompleted" cdkDrag
        [cdkDragDisabled]="!project.isEditable">
        <button
          *ngIf="project.isConfidential"
          class="details-btn"
          mat-menu-project
          matTooltip="This project is confidential"
        >
          <mat-icon class="details-mat-icon" >security</mat-icon>
        </button>
        <p class="completed">{{ project.name }}</p>
        <button
          class="details-btn"
          mat-menu-project
          (click)="goToProject(project.id)"
          matTooltip="More details about this project"
        >
          <mat-icon class="details-mat-icon">fullscreen</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
