<div class="form-container" *ngIf="project">
  <h1>Add item to project</h1>
  <div class="vertical-spacer">
    <label for="projectName">Project name</label>
    <input id="projectName" class="value-cls" type="text" [value]="project.name" [disabled]="true" />
  </div>

  <form #addItemForm="ngForm" (ngSubmit)="submitItem(addItemForm.value)">
    <div class="vertical-spacer">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [formControl]="nameFormControl"
        [ngClass]="{ 'error-border': nameFormControl.hasError('name') }" />
    </div>

    <div class="vertical-spacer">
      <label for="subject">Subject</label>
      <textarea type="text" id="subject" name="subject" ngModel></textarea>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <label for="cost">Cost</label>
        <input type="number" id="cost" name="cost" ngModel [(ngModel)]="cost" />
      </div>
      <div class="half-width-float-right">
        <label for="currency">Currency</label>
        <select id="currency" name="currency" ngModel [(ngModel)]="selectedCurrencyId">
          <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.name }}</option>
        </select>
      </div>
    </div>

    <div class="flex-item">
      <div class="half-width-float-left">
        <input type="text" class="value-cls" id="constEur" name="constEur" [value]="getCostInEur() | currency: 'EUR'"
          [disabled]="true" style="margin-top: 0px" />
      </div>
    </div>

    <div class="vertical-spacer">
      <label for="assignee">Assignee</label>
      <input id="assignee" name="assignee" [ngClass]="{ 'error-border': assigneeControl.hasError('assignee') }"
        type="text" placeholder="Search for user" [matAutocomplete]="auto" [formControl]="assigneeControl" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
          {{ user.username }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="verical-spacer">
      <input type="checkbox" id="isNdaSigned" name="isNdaSigned" ngModel />
      <label for="isNdaSigned" style="cursor: pointer">NDA signed</label>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>